.cool {
    font-family: Arial, sans-serif;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    border: 1px solid rgb(0, 0, 0)
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

h1 {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0);
}


h1 {
    color: rgb(255, 255, 255);
    font-size: 3em;
    text-align: center;
    transform: translate(0%, -0%);
}

h2 {
    color: rgb(255, 255, 255);
}

#story-image {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid rgb(0, 0, 0);
}

#image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid rgb(0, 0, 0);
}

p:nth-last-of-type(1) {
    font-weight: bold;
    /* Makes the latest story event bold */
}

.unda {
    font-size: 0.60em;
    margin-top: 20px;
}

.coolar {
    color: black;
    background-color: none;
    border-color: none;
    text-decoration: none;
    padding: 15px 35px;
}

.butt-styling:hover {
    background-color: rgb(129, 189, 0);
}

.butt-styling {
    font-size: 1.5em;
    border-radius: 10px;
    border: black 2px solid;
    background-color: rgb(177, 255, 9);
    padding: 15px;
}

button {
    margin: 10px;
}

a:hover {
    color: white
}

#story {
    font-size: 1.5em;
    border: 2px solid black;
    margin-bottom: 10px;
    width: 50%;
}

.title {
    font-size: 6em;
    font-weight: bold;
    color: blue;
    transform: translate(0%, -80%);
}

.jim {
    height: 600px;
    margin-top: 0px;
    width: auto;
}

.fine {
    color: red
}

#instructions{
    transform: translate(0%, -55%);
}

@media  only screen and (max-width: 500px) {


    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        transform: translate(4%, 0%);
    }
    .jim{
        width: 100%;
        height: auto;
        margin:0
    }

    .butt-styling{
    padding: 5px;
    }

    .unda{
        margin:0
    }

    .cool{
        transform: translate(4%, -7%);
    }

    #instructions{
        transform: translate(0%, -0%);
    }
}